.DS_Store
.env
refchef.egg-info
refchef/__pycache__
*.ipynb
.ipynb_checkpoints
.eggs
.pytest_cache
tests/__pycache__
tests/data/ucsc_mm9_chr1
*.md5
.refchef.config
*.pyc
reference_test*
.cache
dist
build
.coverage
